:root {
  line-height: 1.5;
  font-weight: 500;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@screen sm {
  html {
    font-size: 16px;
  }
}

@screen md {
  html {
    font-size: 16px;
  }
}

@screen lg {
  html {
    font-size: 16px;
  }
}

@screen xl {
  html {
    font-size: 18px;
  }
}

@screen 2xl {
  html {
    font-size: 20px
  }
}